{% if site.data.data.awards %}
<section class="section awards-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
    </span>
    {{ site.data.data.awards.title }}
  </h2>

  {% if site.data.data.awards.items %}
  <div class="items">
    {% for item in site.data.data.awards.items %}
    <div class="item">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title">{{ item.name }}</h3>
          <div class="time">{{ item.year }}</div>
        </div>
        {% if item.organization %}
        <div class="company">{{ item.organization }}</div>
        {% endif %}
      </div>

      {% if item.details %}
      <div class="details">
        {{ item.details | markdownify }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %}

</section>
{% endif %}